body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e0f7fa; /* Light cyan */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #00796b; /* Teal */
}

main {
    padding: 20px;
}
.pet-cards-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pet-card {
    border: 1px solid #b2dfdb; /* Light teal */
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 200px;           /* Grow and shrink with a minimum width */
    max-width: 300px;          /* Limit the maximum width */
    
}

.pet-card img {
    max-width: 100%;
    height: auto;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #e0f7fa; /* Light cyan */
    padding: 20px;
    text-align: center;
}

/* From Uiverse.io by nikk7007 */ 
.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }